.gitignore
*.o

Makefile_dependencies
Makefile_dependencies.old
autoconf.mk

examples/ex-*
examples/CopyInfo
examples/index.html

src/tests/test-*
src/server/CoCoAServer
src/CoCoA-5/CoCoAInterpreter
src/AlgebraicCore/leak_checker

src/CoCoA-5/CoCoAManual/wordlist.txt

include/CoCoA/library.H
